/* 
*{} обращение ко всем элементам 
p{} селектор тэга 
.class-name{} обращение по классу
#id-name(1 раз на странице) 
#inline-style(в коде html)

.class-name h1 h2 (комбинация силекторов)
 */
 mark{
  background-color: yellow;
 }
.text {
  text-transform: uppercase;
  color:red;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight:bold;
}